In [21]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
path_dir = '/content/gdrive/MyDrive/Data Analysis/side-project/data'

## Basic

In [24]:
players = pd.read_csv(path_dir + '/nba-salaries.csv')
players

                      team    salary             player position     season
0    Golden State Warriors  40231758      Stephen Curry       PG  2019-2020
1    Oklahoma City Thunder  38506482         Chris Paul       PG  2019-2020
2          Houston Rockets  38506482  Russell Westbrook       PG  2019-2020
3       Washington Wizards  38199000          John Wall       PG  2019-2020
4            Brooklyn Nets  38199000       Kevin Durant       SF  2019-2020
..                     ...       ...                ...      ...        ...
523           Phoenix Suns    208509    Jimmer Fredette        G  2019-2020
524      Memphis Grizzlies    197933      Jontay Porter       PF  2019-2020
525      Memphis Grizzlies    183115   Anthony Tolliver       PF  2019-2020
526           Phoenix Suns    183115      Tyler Johnson       SG  2019-2020
527  Oklahoma City Thunder    155647      Luguentz Dort       SG  2019-2020

[528 rows x 5 columns]

In [25]:
players = players.drop('season', axis=1)
players.head()

                    team    salary             player position
0  Golden State Warriors  40231758      Stephen Curry       PG
1  Oklahoma City Thunder  38506482         Chris Paul       PG
2        Houston Rockets  38506482  Russell Westbrook       PG
3     Washington Wizards  38199000          John Wall       PG
4          Brooklyn Nets  38199000       Kevin Durant       SF

In [26]:
players.shape

(528, 4)

In [27]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   team      528 non-null    object
 1   salary    528 non-null    int64
 2   player    528 non-null    object
 3   position  528 non-null    object
dtypes: int64(1), object(3)
memory usage: 16.6+ KB

In [28]:
# 데이터 공백 전처리
players['position'] = players['position'].str.strip()

### SELECT

In [29]:
# SELECT player, salary
# FROM players;

In [30]:
players[['player', 'salary']]

                player    salary
0        Stephen Curry  40231758
1           Chris Paul  38506482
2    Russell Westbrook  38506482
3            John Wall  38199000
4         Kevin Durant  38199000
..                 ...       ...
523    Jimmer Fredette    208509
524      Jontay Porter    197933
525   Anthony Tolliver    183115
526      Tyler Johnson    183115
527      Luguentz Dort    155647

[528 rows x 2 columns]

### FROM

포지션이 센터인 선수의 팀명과 연봉정보

In [31]:
# SELECT team, player, salary
# FROM players
# WHERE position = 'C'

In [32]:
players[players['position'] == 'C']

                       team    salary              player position
23            Orlando Magic  28000000      Nikola Vucevic        C
26       Philadelphia 76ers  27504630         Joel Embiid        C
28           Denver Nuggets  27504630        Nikola Jokic        C
31   Minnesota Timberwolves  27285000  Karl-Anthony Towns        C
35          Detroit Pistons  27093019      Andre Drummond        C
..                      ...       ...                 ...      ...
482         Toronto Raptors    898310     Dewan Hernandez        C
492  Minnesota Timberwolves    898310            Naz Reid        C
505   Golden State Warriors    654469     Marquese Chriss        C
514      Washington Wizards    482144    Anzejs Pasecniks        C
522       San Antonio Spurs    245686        Tyler Zeller        C

[83 rows x 4 columns]

### GROUP BY

In [33]:
# SELECT team, ROUND(AVG(salary), 1) AS avg_salary
# FROM players
# GROUP BY team
# ORDER BY avg_salary DESC;

In [34]:
t_salary = players.groupby(['team'], as_index=False)['team','salary'].mean().round(1).sort_values(by='salary', ascending=False)
t_salary = t_salary.rename(columns={'salary':'avg_salary'}) # 컬럼명 변경
t_salary.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                      team  avg_salary
7           Denver Nuggets   9757060.5
17  Minnesota Timberwolves   9205660.5
24  Portland Trail Blazers   8695537.6
6         Dallas Mavericks   8429693.2
21           Orlando Magic   8386446.6

### LIMIT

In [35]:
# SELECT player, salary, team
# FROM players
# ORDER BY salary DESC
# LIMIT 10;

In [36]:
players[['player', 'salary', 'team']].sort_values(by='salary', ascending=False).head(10)

              player    salary                   team
0      Stephen Curry  40231758  Golden State Warriors
1         Chris Paul  38506482  Oklahoma City Thunder
2  Russell Westbrook  38506482        Houston Rockets
3          John Wall  38199000     Washington Wizards
4       Kevin Durant  38199000          Brooklyn Nets
5       James Harden  38199000        Houston Rockets
6       LeBron James  37436858     Los Angeles Lakers
7         Kyle Lowry  34996296        Toronto Raptors
8      Blake Griffin  34449964        Detroit Pistons
9      Tobias Harris  32742000     Philadelphia 76ers

## Intermediate

In [37]:
reservation = pd.read_csv(path_dir + '/rentacar_db/reservation.csv')
customers = pd.read_csv(path_dir + '/rentacar_db/customers.csv')
cars = pd.read_csv(path_dir + '/rentacar_db/cars.csv')

In [42]:
reservation.head()

   Reservation_id    Region     System  ...    End_date  End_time   Price
0              85     SEOUL  Affiliate  ...  2016-05-24  15:52:00  446399
1              67     BUSAN  Affiliate  ...  2016-05-08  17:49:00  200000
2               8      JEJU  Affiliate  ...  2016-05-02   8:42:00  300000
3              15  GYEONGGI  Affiliate  ...  2016-05-02   8:27:00  344800
4              16      JEJU  Affiliate  ...  2016-05-01  17:40:00  214200

[5 rows x 10 columns]

In [43]:
customers.head()

   Reservation_id   Id Customer_grade
0              48  147           Gold
1              37  136           Gold
2               1  100           Gold
3              74  173           Gold
4              87  186           Gold

In [45]:
cars.head()

  Model     Name      Types
0  C001  Morning  A-segment
1  C002       K3  C-segment
2  C003   Avatne  C-segment
3  C004       K5  D-segment
4  C005   Sonata  D-segment

### JOIN

In [ ]:
# SQL 쿼리

In [38]:
# pd.merge(table1, table2, how='inner', on='key')

In [39]:
# pd.merge(table1, table2, how='left', on='key')

In [40]:
# pd.merge(table1, table2, how='right', on='key')

In [41]:
# pd.merge(table1, table2, how='outer', on='key')

### PIVOT

In [ ]:
# SELECT start_month
# 	 , MAX(CASE WHEN region = 'Seoul' THEN cnt ELSE NULL END) AS 'Seoul'
# 	 , MAX(CASE WHEN region = 'Busan' THEN cnt ELSE NULL END) AS 'Busan'
# 	 , MAX(CASE WHEN region = 'Gyeonggi' THEN cnt ELSE NULL END) AS 'Gyeonggi'
# 	 , MAX(CASE WHEN region = 'Jeju' THEN cnt ELSE NULL END) AS 'Jeju'
# FROM (
# 	SELECT LEFT(start_date, 7) AS Start_month, region, COUNT(1) AS cnt
# 	FROM reservation
# 	GROUP BY LEFT(start_date, 7), region
# 	ORDER BY start_month
# ) AS t
# GROUP BY start_month;

In [79]:
reservation['Start_month'] = reservation['Start_date'].str[:7]
reservation.pivot_table(index='Start_month', columns='Region', values='Reservation_id').round()

Region       BUSAN  GYEONGGI  JEJU  SEOUL
Start_month
2016-04       17.0      18.0  15.0   19.0
2016-05       61.0      69.0  57.0   64.0

## Advanced

In [89]:
sales = pd.read_csv(path_dir + '/moving_avg.csv')

In [90]:
sales.head()

           dt  order_id     user_id  purchase_amount
0  2014-01-01         1  rhwpvvitou            13900
1  2014-01-01         2  hqnwoamzic            10616
2  2014-01-02         3  tzlmqryunr            21156
3  2014-01-02         4  wkmqqwbyai            14893
4  2014-01-03         5  ciecbedwbq            13054

### Moving Average

In [ ]:
# SELECT dt
# 	 , SUM(purchase_amount) AS total_amount
# 	 , CASE 
# 		  WHEN 7 = COUNT(1) OVER(ORDER BY dt ROWS BETWEEN 6 PRECEDING AND CURRENT ROW) 
# 		  THEN AVG(SUM(purchase_amount)) OVER(ORDER BY dt ROWS BETWEEN 6 PRECEDING AND CURRENT ROW) 
#       END AS moving_avg
# FROM purchase_log
# GROUP BY dt 
# ORDER BY dt;

In [95]:
total_amount = sales.pivot_table(index='dt', values='purchase_amount', aggfunc='sum')
total_amount['moving_avg'] = total_amount['purchase_amount'].rolling(window=7).mean()
total_amount

            purchase_amount    moving_avg
dt
2014-01-01            24516           NaN
2014-01-02            36049           NaN
2014-01-03            53029           NaN
2014-01-04            29299           NaN
2014-01-05            48256           NaN
2014-01-06            29440           NaN
2014-01-07            47679  38324.000000
2014-01-08            19760  37644.571429
2014-01-09            22944  35772.428571
2014-01-10            27923  32185.857143